* {
    margin: 0;
    padding: 0;
	font-family:'Courier New', Courier, monospace;
}

h1 {
    color: rgb(0,0,0,0.7);
	text-align: center;
}

p {
	color: rgb(128, 128, 128, 0.9);
}

img {
	padding:none;
	margin:none;
	display:block;
}

#icon {
    filter: grayscale(100%);
	transition: 0.3s;
	width: 35px; 
	height: 35px;
}

#icon:hover {
    filter: none;
	transition: 0.3s;
}

.circle {
    height: 35px;
    width: 35px;
    background-color: black;
    border-radius: 50%;
	transition: 0.3s;
	max-width:100%;
	max-height:100%;
	object-fit: cover;
}

button {
	border-radius: 5px;
	width: 50px;
	border-style: none;
	height: 20px;
}

input {
	background-color: #2d2d2d;
	color: white;
	border-radius: 5pt;
	height: 20px;
	border-style: none;
	width: 120px;
}

header {
	display: none;
}

#searchSocialMedia {
	display: flex;
	justify-content: space-between;
	margin-top: 1%;
}

#navigation {
	display: none;
}

#searchInWeb {
	margin-right: 2%;
	display: flex;
	width: 200px;
	justify-content: space-between;
}

#accounts {
    margin-left: 2%;
    display: inline-block;
}

#accounts>ul {
    list-style-type:none;
}


#accounts>ul>li {
    display: inline-block;
    vertical-align: middle;
}

#accounts2 {
	display: flex;
	align-items: center;
}

#accounts3 {
	display: flex;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color:aliceblue;
	border-bottom: 2px solid;
	border-color: rgb(128, 128, 128, 0.5);
}

#company {
	color:dimgray;
	font-size: 20px;
	margin-left: 2%;
}

ul {
    list-style-type:none;
}

#navigation>ul>li {
	display: inline-block;
	margin-left: 30px;
	color:#2d2d2d;
}

#sidebarNavigation>ul>li {
	color:#2d2d2d;
	padding-top:20%;
}

#sidebarSocial {
	margin-top: 10%;
}

#sidebarSocial>ul>li {
	padding: 2%;
}

#navigationAlternative {
	margin-right: 2%;
	font-style: italic;
	cursor: default;
}

aside {
	display: none;
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
	background-color: aliceblue;
}

#close {
	cursor: pointer;
}


@media (min-width: 1024px) {
	header {
		display: block;
		background-color:aliceblue;
		width: 100%;
		padding-bottom: 2%;
		overflow: auto;
	}

	#navigation {
		display: flex;
		align-items: center;
		margin-right: 2%;
	}

	#navigationAlternative {
		display: none;
	}
}

#introduction {
	margin-top: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	width: 50%;
}

.image>img {
	width: 100%;
	height: 100%;
}

.content {
	margin: 2% 2% 0 2%;
}

@media (min-width: 667px) {
	#introduction {
		flex-direction: row;
		justify-content: space-around;
	}

	.content {
		width: 50%;
		margin: 0;
	}

	.content >h1 {
		text-align: left;
		margin-left: 2%;
	}

	.image {
		width: 200px;
		height: 200px;
	}
}